@using Webshop.Models
@model Product

<h2>@Model.Title</h2>

<div class="col-md-6">
    <div class="col-md-3">
        <input type="image" src="/Images/Airmax2.jpg" class="img-rounded" onclick="changePicture('/Images/Airmax2.jpg')" style="max-height:140px; max-width:140px;" />
        <input type="image" src="/Images/Airmax.jpg" class="img-rounded" onclick="changePicture('/Images/Airmax.jpg')" style="max-height:140px; max-width:140px;" />
        <input type="image" src="/Images/Airmax2.jpg" class="img-rounded" onclick="changePicture('/Images/Airmax2.jpg')" style="max-height:140px; max-width:140px;" />
        <input type="image" src="/Images/Airmax.jpg" class="img-rounded" onclick="changePicture('/Images/Airmax.jpg')" style="max-height:140px; max-width:140px;" />
    </div>
    <div class="col-md-9">
        <img id="image" src="~/Images/Airmax.jpg" class="img-rounded" style="max-height:560px; max-width:560px;" />
    </div>
</div>
<div class="col-md-6">
    <button type="button" class="btn btn-default" onclick="addToCart(@Model.Id)">Læg i kurv</button>
</div>

<script>
    function changePicture(url) {
        var element = document.getElementById('image')
        element.src = url;
    }

    function addToCart(productId) {
        $.ajax({
            type: "POST",
            url: "/Product/AddToCart",
            data: '{ productId : ' + productId + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                updateCart(2);
                alert("Product er tilføjet til kurven");
            },
            error: function (response) {
                alert("FEJL");
            }
        });
    }
</script>

